.banner {
  color: #ffffff;
  background-color: rgba(104, 183, 56, 0.85);
  width: 280px;
  height: 290px;
}

.banner__text {
  font-family: "Lato", "Arial", sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
