.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 25px;
  line-height: 20px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 280px;
  min-height: 40px;
  text-align: center;
}

.button--product {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .button--product {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: auto;
  }
}

.button--long {
  padding: 10px 109px;
}

.button--grey {
  background-color: #f2f2f2;
  color: #444444;
  width: 100%;
  box-sizing: border-box;
}

.button--programm {
  background-color: rgba(104, 183, 56, 0.85);
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  width: 280px;
  min-height: 40px;
  padding: 10px 64px;
  display: block;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .button--programm {
    background-color: rgba(104, 183, 56, 0.85);
    color: #ffffff;
    text-transform: uppercase;
    width: 240px;
    padding: 10px 26px;
    display: block;
    box-sizing: border-box;
  }
}

.button-plus {
  background-image: url("../../icons/plus.svg");
  background-color: #ffffff;
  margin-left: 120px;
  border: none;
  width: 30px;
  height: 30px;
}

