.button-long {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 285px;
  font-style: normal;
  line-height: 20px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  width: 280px;
  height: 40px;
}
