.catalog-product__title {
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 41px;
  position: relative;
}

.catalog-product__title::before {
  content: "";
  position: absolute;
  background-color: #ebebeb;
  width: 100vw;
  height: 1px;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
}

.catalog-product__title::after {
  content: "";
  position: absolute;
  background-color: #ebebeb;
  width: 100vw;
  height: 1px;
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
}


.catalog-product__link {
  display: flex;
  height: 100px;
  width: 84px;
  justify-content: center;
  align-items: flex-end;
}


.catalog-product__link-name {
  font-family: "Oswald", "Arial", sans-serif;
  color: #222222;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog-product__item-attribute {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.catalog-product__item-value {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.catalog-product__list {
  padding: 0;
  list-style: none;
}

.catalog-product__ltem-title {
  font-family: "Oswald", "Arial", sans-serif;
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  width: 76px;
}

.catalog-product__item {
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-bottom: 35px;
}

.catalog-product__top {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 36px;
}

.catalog-product__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.catalog-product__item-more-product {
  list-style: none;
}


.catalog-product__ltem-title-show {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-product__attribute-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.catalog-product__ltem-text-show {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .catalog-product__title {
    font-family: "Oswald", "Arial", sans-serif;
    color: #000000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 84px;
  }

  .catalog-product__link-name {
    font-family: "Oswald", "Arial", sans-serif;
    color: #222222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    display: flex;
  }

  .catalog-product__link {
    justify-content: center;
    align-items: end;
    display: flex;
    height: 210px;
    width: 168px;
  }

  .catalog-product__item-attribute {
    font-family: "Lato", "Arial", sans-serif;
    color: #444444;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px 100px;
  }

  .catalog-product__attributes {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .catalog-product__item-value {
    font-family: "Lato", "Arial", sans-serif;
    color: #444444;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .catalog-product__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    padding: 0;
    gap: 60px;
    align-items: center;
  }

  .catalog-product__item {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #ffffff 0, #ffffff 16%, #f2f2f2 16%, #f2f2f2 100%,);
    min-height: 511px;
    padding-left: 37px;
    padding-right: 37px;
  }

  .catalog-product__ltem-title {
    font-family: "Oswald", "Arial", sans-serif;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    width: 135px;
  }


  .catalog-product__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .catalog-product__attribute-row {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .catalog-product__attribute-row::before {
    content: "";
    position: absolute;
    background-color: #cdcdcd;
    width: 100%;
    height: 1px;
    bottom: -8px;
  }

  .catalog-product__item-more-product {
    border: 2px solid #f2f2f2;
    min-height: 429px;
    display: flex;
    flex-direction: column;
  }


  .catalog-product__ltem-title-show {
    font-family: "Oswald", "Arial", sans-serif;
    color: #111111;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 134px;
    padding-left: 94px;
  }


  .catalog-product__ltem-text-show {
    font-family: "Lato", "Arial", sans-serif;
    color: #444444;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    width: 160px;
    padding-left: 77px;
  }

  .catalog-product__link-img {
    object-fit: contain;
  }
}

@media (min-width: $desktop-width) {
  .catalog-product__title {
    font-family: "Oswald", "Arial", sans-serif;
    color: #000000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 41px;
  }

  .catalog-product__link {
    font-family: "Oswald", "Arial", sans-serif;
    color: #222222;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
    display: flex;
  }

  .catalog-product__item-attribute {
    font-family: "Lato", "Arial", sans-serif;
    color: #444444;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: flex;
  }

  .catalog-product__attributes {
    display: flex;
    width: 169px;
  }

  .catalog-product__item-value {
    font-family: "Lato", "Arial", sans-serif;
    color: #444444;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }

  .catalog-product__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    padding: 0;
    gap: 80px;
  }

  .catalog-product__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .catalog-product__ltem-title {
    font-family: "Oswald", "Arial", sans-serif;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    width: 140px;
  }


  .catalog-product__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catalog-product__info {
    margin-right: 37px;
    margin-left: 37px;
  }

  .catalog-product__item-more-product {
    list-style: none;
  }


  .catalog-product__ltem-title-show {
    font-family: "Oswald", "Arial", sans-serif;
    color: #111111;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }


  .catalog-product__ltem-text-show {
    font-family: "Lato", "Arial", sans-serif;
    color: #444444;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}
