.main-header__toggle {
  background-image: url("../../icons/menu.svg");
  background-repeat: no-repeat;
  border: none;
  width: 24px;
  min-height: 24px;
  background-color: #ffffff;
}

.main-header__logo-image:hover {
  opacity: 0.8;
}

.main-header__logo-image:active {
  opacity: 0.6;
}

