.main-footer__contacts-text {
  font-family: "Oswald", "Arial", sans-serif;
  color: #111111;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}


.main-footer__contacts-adress {
  font-family: "Lato", "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
